{% extends "account/base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <br><br>
    <div class="container"style="width: 50%">

        <form class="form-signin" action="{% url 'login' %}" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <p>Please, use the following form to log-in. If you don't have anaccount <a href="{% url "register" %}">register here</a></p>
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Log-in"></p>

            <br>



        </form>

    </div>
{% endblock %}